.goTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #181818;
    transition: color .3s;
}

.goTop:hover {
    color: #e8280b;
    transition: color .3s;
}