.goTop {
    width: 40px;
    height: 40px;
    background-color: #e8280b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    box-shadow: none;
    transition: box-shadow .3s;
    z-index: 20;
}

.goTop:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(232,40,11,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(232,40,11,1);
    box-shadow: 0px 0px 20px 0px rgba(232,40,11,1);
    transition: box-shadow .3s;
}
