.slider {
    overflow: hidden;
    margin-bottom: 57px;
}
.slider p {
    font-size: 24px;
    text-align: left;
    margin: 0;
}

.home {
    padding: 30px 0;
}

.slider .sliderItem {
    height: 420px;
}

.sliderDescription {
    width: 100%;
    min-height: 120px;
    background-color: rgba(24, 24, 24, 0.8);
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    padding: 20px 30px;
}

@media (max-width: 767px) {
    .slider .sliderItem {
        height: 220px;
    }

    .sliderDescription {
        padding: 10px;
        min-height: 86px;
    }

    .slider {
        margin-bottom: 40px;
    }

    .slider p {
        font-size: 15px;
    }
}
