.asideContainer {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

@media (min-width: 576px) {
    .asideContainer {
        max-width: 29%;
    }
}

@media (min-width: 1100px) {
    .asideContainer {
        max-width: 25%;
    }
}

@media (min-width: 1300px) {
    .asideContainer {
        max-width: 300px;
    }
}

.aside {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
}

.btnGroup {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

.btnGroup button {
    text-align: center;
    font-size: 12px;
    color: #b7b7b7;
    border: 1px solid #efefef;
    outline: none;
}

.btnGroup button:first-child {
    border-radius: 3px 0 0 3px;
}

.btnGroup button:last-child {
    border-radius: 0 3px 3px 0;
}

.btnGroup button.active {
    color: #181818;
    background-color: #f3f3f3;
}

.title {
    padding: 11px 17px;
    border-bottom: 1px solid #ebebeb;
    font-weight: normal;
    border-left: none;
    background-color: #fff;
    transition: background-color 0.2s;
    position: relative;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

.title:hover {
    background-color: #f3f3f3;
    font-weight: bold;
    transition: background-color 0.2s;
}

.title:hover::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #e8280b;
    left: 0;
    top: 0;
}

.title a {
    color: #181818;
    text-decoration: none;
}
