.header {
    background-color: #e8280b;
    color: #fff;
}

.btnBurger {
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.search {
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.header h1 {
    font-size: 22px;

}

.logo {
    height: 60px;
}

.follow {
    margin-left: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.follow > span {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
}

.login {
    font-size: 14px;
}

.login > span {
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}